{% extends 'student/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'student/css/common.css' %}">

{% endblock css %}

{% block content %}




<div class="container" >
<marquee  behavior="" direction="" class="text-danger"><b>*St. Aloysius International University website "UNDER MAINTENANCE" please check your results below. Thank You!</b></marquee>

<H3 class="text-black" id='alumni'>ALUMNI </H3>

<p>
    St Aloysius International University boasts of a successful alumnus, where our students have reached great heights in both professional and personal lives. They have procured gastul employment in some of the most lucrative companies all over the world. Our unique learning experience and helps maximize your employment prospects, and seperate you from the rest of the crowd SAR provides fertile grounds to determine and explore co-cumcular activities, which are just as valuable as a good educating training in securing lucrative employment prospects
</p>


<div class="container row-3">
    <p class="font-weight-bold">Enrollment No.</p>
    <div class="col-sm-3">
        <form action="" method="post">
          {% csrf_token %}
          <input name="enrollment_no" type="text" class="form-control" placeholder="Search Enrollment No" required>
          <button type="submit" class="btn btn-primary my-1 ">Search</button>
        </form>
    </div>
</div>



{% if admitcard %}
<div class="container-row">
  <h3 class="text-center">Alumni Details</h3>
  <p class="text-end ">Please verify Marks Sheet / Certificate </p>
  <a href="{% url 'admit-pdf-view' admitcard.enrollment_no %}"><button class="btn-primary">DOWNLOAD ADMITCARD</button></a>
<hr>
</div>



<div id='mylogo' >
  <img class='img-fluid mx-auto pt-2 d-block' src="{% static 'student/image/logo2.png' %}" alt="CoolBrand">
</div>

<div class="container-row my-3">
  <div class="row justify-content-md-auto" id='divone'>

  
      <div class="col-2">
          <div class="text-center">
              <div class="card-group" width="100%">
                  <div class="card" >
                
                    <img class="card-img-top" id='profile_pic' src="{{admitcard.image.url}}" alt="Alumni Image 211*180">      
  
                  </div>
              </div>
          </div>
      </div>
      <div id='divtwo' class="col-8">
         <b> Enrollment No   :</b> {{admitcard.enrollment_no}} <br>
         <b> title      :</b> {{admitcard.title}} <br>
         <b> date   :</b> {{admitcard.date}} <br>
         <b> time          :</b> {{admitcard.time}} <br>
         <b> reg_no  :</b> {{admitcard.reg_no}} <br>
         <b> name   :</b> {{admitcard.name}} <br>
         <b> exam_centre :</b> {{admitcard.exam_centre}} <br>
      </div>
  </div>
  <hr>
</div>

<div class="container">
  <footer class="pt-4 mt-5 ">
   
    <p class="text-center text-muted"> If you have any query please mail us to <a href="mailto:administrator@saiu-edu.in">administrator@saiu-edu.in</a></p>
  </footer>
</div>
</div>
{% endif %}
{% endblock content %}